@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Karla:wght@200;500;600;700;800&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page {
    font-family: Georgia;
    width: 60%;
    margin: auto;
}

.header__img {
    width: 300px;
}

.header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 70px;
}

.header__names {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-size: 30px;
}

.header__title {
    margin-top: 30px;
    font-size: 40px;
}

.header__subtitle {
    margin-bottom: 30px;
    font-size: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.calculator__text {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .calculator__inputs {
        flex-direction: column;
    }

    .calculator {
        width: 80%;
    }

    .select {
        width: 100%;
    }
    .swiper {
        margin-bottom: 50px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 768px) {
    .calculator__inputs {
        flex-direction: row;
        justify-content: space-between;
    }

    .calculator {
        width: 120%;
    }

    .calculator__inputs {
        align-items: center;
        flex-direction: column;
    }

    .select, .contribution__button, .contribution__input {
        margin: 0 auto;
        display: block;
        width: 50%;
    }

    .calculator__text {
        margin-left: 10px;
        font-size: 50px;
    }

    .select {
        width: 50%;
    }
    .swiper {
        margin-bottom: 50px;
        width: 100%;
        height: 100%;
    }
}

.calculator__inputs {
    display: flex;
    font-size: 50px;
}

.contribution__input {
    height: 70px;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    font-size: 50px;
}

.select, .contribution__button {
    height: 70px;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    font-size: 30px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.priroda-header {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.calculator__header {
    text-align: center;
    font-size: 30px;
}